@charset 'UTF-8';

.q-date__navigation{
  display: none;
}

body{
  margin: 0;
  font-family: 'Inter' !important;
  background: rgb(186,176,212);
  background: linear-gradient(180deg, rgba(186,176,212,1) 0%, rgba(76,26,87,1) 100%);
}