.device-list {
  position: relative;
  width: 100%;

  &__btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
  }

  &__tooltip {
    position: fixed;
    bottom: 40px;
    right: 80px;
    background-color: rgba(255, 255, 255, 40%);
    color: rgba(255, 255, 255, 40%);
    padding: 0.3rem 2rem 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 20px;
    text-transform: none;
    font-family: 'Inter-Light';
  }

  &__devices {
    position: relative;

    &>.control-buttons {
      position: absolute;
      top: -10px;
      right: 5px;
      z-index: 1;

      &>.remove-btn {
        margin-top: 0.5rem;
      }
    }
  }
}

.device-dialog {
  width: 100%;

  &__list {
    border-radius: 50px 50px 0 0 !important;
    background-color: rgba(73, 42, 79, 15%);
    background-color: #D6D0E8 !important;

    &>.device {
      padding-top: 0;
      width: auto;
    }
  }
}