.home-slide {
  width: 100vw;
  border-radius: 35px 35px 0 0;
}

.calendar {
  &__weekday {
    color: #989898;
    font-size: 20px;
  }

  &__dateday {
    color: #6A6A6A;
    font-size: 23px;
    margin-top: 1rem !important;
  }
}

.active-day {
  background-color: #CAC4DA;
  color: white;
  border-radius: 34px;
}

.q-item {
  padding: 1rem 0.5rem;
}

.notifications-card {
  background-color: #4C1A57;
  border-radius: 23px;

  &__title {
    font-family: 'Inter-Light';
    font-size: 15px;
  }

  &__text {
    font-family: 'Inter-Medium';
    font-size: 18px;
  }

  &__link {
    >.link {
      text-decoration: none !important;
      opacity: 0.7;
    }
  }
}