.home-slide {
  width: 100vw;
  border-radius: 35px 35px 0 0;
}

.notifications-card {
  background-color: #4C1A57;
  border-radius: 23px;

  &__title {
    font-family: 'Inter-Light';
    font-size: 15px;
  }

  &__text {
    font-family: 'Inter-Medium';
    font-size: 18px;
  }

  &__link {
    >.link {
      text-decoration: none !important;
      opacity: 0.7;
    }
  }
}