.symptom-list {
  position: relative;

  &__btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
  }

  &__tooltip {
    position: absolute;
    left: 7rem;
    bottom: 2.5rem;
    background-color: rgba(255, 255, 255, 40%);
    color: rgba(255, 255, 255, 40%);
    padding: 0.3rem 2rem 0.3rem 0.6rem;
    border-radius: 5px;
    font-size: 20px;
    text-transform: none;
    font-family: 'Inter-Light';
  }
}