.messages {
  width: 50%;
  height: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
  }
}

.sent,
.received {
  display: flex;
  margin-bottom: 10px;
}

.sent .message-content,
.received .message-content {
  max-width: 70%;
  padding: 10px;
  border-radius: 5px;
}

.sent {
  justify-content: flex-end;
}

.sent .message-content {
  background-color: #dcf8c6;
}

.received {
  justify-content: flex-start;
}

.received .message-content {
  background-color: white;
  margin-bottom: 10px;
}


.glow-green {
  animation: glow-green 2s ease-in-out infinite;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5), 0 0 10px rgba(76, 175, 80, 0.5), 0 0 15px rgba(76, 175, 80, 0.5), 0 0 20px rgba(76, 175, 80, 0.5);
}

@keyframes glow-green {
  0% {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5), 0 0 10px rgba(76, 175, 80, 0.5), 0 0 15px rgba(76, 175, 80, 0.5), 0 0 20px rgba(76, 175, 80, 0.5);
  }

  50% {
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5), 0 0 15px rgba(76, 175, 80, 0.5), 0 0 20px rgba(76, 175, 80, 0.5), 0 0 25px rgba(76, 175, 80, 0.5);
  }

  100% {
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5), 0 0 10px rgba(76, 175, 80, 0.5), 0 0 15px rgba(76, 175, 80, 0.5), 0 0 20px rgba(76, 175, 80, 0.5);
  }
}

.glow-red {
  animation: glow-red 2s ease-in-out infinite;
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.5), 0 0 10px rgba(244, 67, 54, 0.5), 0 0 15px rgba(244, 67, 54, 0.5), 0 0 20px rgba(244, 67, 54, 0.5);
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5), 0 0 10px rgba(244, 67, 54, 0.5), 0 0 15px rgba(244, 67, 54, 0.5), 0 0 20px rgba(244, 67, 54, 0.5);
  }

  50% {
    box-shadow: 0 0 10px rgba(244, 67, 54, 0.5), 0 0 15px rgba(244, 67, 54, 0.5), 0 0 20px rgba(244, 67, 54, 0.5), 0 0 25px rgba(244, 67, 54, 0.5);
  }

  100% {
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5), 0 0 10px rgba(244, 67, 54, 0.5), 0 0 15px rgba(244, 67, 54, 0.5), 0 0 20px rgba(244, 67, 54, 0.5);
  }
}